<!doctype html>

<html lang="en">

<head>

  <title>Dublin dashboard</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/side_style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/door_icon.ico') }}">

</head>


<body>

 <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav ">
        <br></br>
        <h5 class="sidebar-subheading">No. of bedrooms</h5>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value=0 id="bed_any" name="bedrooms" checked>
          <label class="form-check-label sidebar-label" for="bed_any">Any</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value=1 id="bed1" name="bedrooms">
          <label class="form-check-label sidebar-label" for="bed1">1</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value=2 id="bed2" name="bedrooms">
          <label class="form-check-label sidebar-label" for="bed2">2</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value=3 id="bed3" name="bedrooms">
          <label class="form-check-label sidebar-label" for="bed3">3</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value=4 id="bed4" name="bedrooms">
          <label class="form-check-label sidebar-label" for="bed4">4+</label>
        </div>
        <h5 class="sidebar-subheading mt-3">Property type</h5>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value="type_any" id="type_any" name="proptype" checked>
          <label class="form-check-label sidebar-label" for="type_any">Any</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value="detached" id="detached" name="proptype">
          <label class="form-check-label sidebar-label" for="detached">Detached</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value="semi-detached" id="semi-detached" name="proptype">
          <label class="form-check-label sidebar-label" for="semi-detached">Semi-detached</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value="terraced" id="terraced" name="proptype">
          <label class="form-check-label sidebar-label" for="terraced">Terraced</label>
        </div>
        <div class="form-check">
          <input class="form-check-input filter" type="radio" value="apartment" id="apartment" name="proptype">
          <label class="form-check-label sidebar-label" for="apartment">Apartments</label>
        </div>
        <h5 class="sidebar-subheading mt-3">Quarter</h5>
        <select class="form-control form-control-sm filter" id='Q'>
          <option value="all">All</option>
          <option value="2020Q2">Q4-2020</option>
          <option value="2020Q2">Q3-2020</option>
          <option value="2020Q2">Q2-2020</option>
          <option value="2020Q1">Q1-2020</option>
          <option value="2019Q4">Q4-2019</option>
          <option value="2019Q3">Q3-2019</option>
          <option value="2019Q2">Q2-2019</option>
        </select>
      </ul>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active bg-light rounded ">
            <a href="#menu-toggle" class="nav-link" id="menu-toggle">Plot controls</a>
          </li>          
        </ul>

        <div class="navbar-brand bg-transparent rounded">
          <a href="https://www.daft.ie">
            <img src="{{ url_for('static', filename='img/daft_logo.png') }}" height="30" id="daft">
          </a>
          <a href="https://github.com/mwilkens1/fundaft">
            <img src="{{ url_for('static', filename='img/githublogo.png') }}" height="30" id="github">
          </a>
          <a href="https://www.linkedin.com/in/mathijn-wilkens-61184322">
            <img src="{{ url_for('static', filename='img/linkedinlogo.png') }}" height="30" id="linked">
          </a>
        </div>

      </div>


    </nav>

    <!-- Header -->
    <div class="row">
      <div class="col-auto">
        <h1 style="margin-left: 20px; margin-top: 20px">Dublin Property Value Estimator</h1>
        <p style="margin-left: 20px; margin-top: 5px">
          Explore Dublin's residential property market and estimate the value of a propery advertised on Daft.ie. 
          All data on this page is retrieved from Daft.ie for Dublin city. 
        </p>
      </div>
    </div>
    
    <!-- here the content starts -->
    <div class="row"> 
      <div class="col-auto">
        <div class="row">
          <div class="col">
            <!-- Section with the property price estimator -->
            <div class="card rounded bg-light mt-4 p-1" style="width: 916px;">
              <div class="card-body">
                <h5 class="card-title">Property value estimation</h5>
                <p>Find an ad for a Dublin property listed on 
                <a href="https://www.daft.ie/dublin-city/property-for-sale/" target="_blank">
                  Daft.ie for Dublin city
                </a> and paste the link to the ad of the property in the box below and click 'Estimate value' to get an esimated value of the property.</p>

                  <div class="row" style="margin-left: 2px; margin-right: 10px; margin-bottom:10px ">
                      <input style="width: 80%" type="text" class="form-control form-control-lg change_ad_url" name="url" placeholder="Enter link to Dublin property listing on Daft.ie">
                      <button style="width: 20%" type="submit" class="btn btn-lg btn-success">Estimate value</button>
                  </div>
                                    
                  <div class="row">
                    <div class="col-6">

                      <h6 id="property_title"></h6>
                      <div id="image_of_ad"></div>

                    </div>

                    <div class="col-6">                       
                      <h6>Number of amenities near the property (<a href='https://www.openstreetmap.org'>openstreetmap.org</a>)</h6> 
                      <div id="amenity_plot"></div>

                    </div>
                  </div>
 
                  <div class="row" style="margin-top:22px;">
                    
                    <div class="col-6">
                      <h6 style="text-align: center">Asking price:</h6>
                      <h3 style="text-align: center" id="ad_price"></h6>
                    </div>
                    <div class="col-6">
                      <h6 style="text-align: center">Estimated value:</h6>
                      <h3 style="text-align: center" id="est_value"></h6>                        
                    </div> 
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p style="font-size: 12px;">*Based on machine learning model that takes into account the dimenions of the property
                        (surface area, bed and
                        bathrooms),
                        its location, the propery type (e.g. apartment), the amenities in a 0.5 km radius, facilities of the property
                        and BER classificaiton. It does not take into account aesthetics or other factors such as the need for renovation.
                      </p>
                    </div>
                  </div>
                  
                  
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Other plots -->
      <div clas="col-auto">
        <div class="row">
          <div class="col-auto">
            <div class="col-auto card rounded bg-light ml-4 mt-4 mb-4 p-1" style="width: 560px; height: 600px;">
              <div class="card-body">
                <h5 class="card-title">Asking price on Daft.ie</h5>
                <div class="card-text">Median price per area (x1000€)</div>
                <div class="mt-1" id="cmap"></div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="card rounded bg-light mr-2 mt-4 p-1" style="width: 320px; height: 296px;">
              <div class="card-body">
                <h5 class="card-title">Most expensive areas</h5>
                <div class="card-text">Median price per areas (x1000€)</div>
                <div  id="exp_plot"></div>
              </div>
            </div>
            <div class="card rounded bg-light mr-2 mt-2 mb-4 p-1" style="width: 320px; height: 296px;">
              <div class="card-body">
                <h5 class="card-title">Cheapest area</h5>
                <div class="card-text">Median price per area (x1000€)</div>
                <div id="cheap_plot"></div>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="col">
            <div class="card rounded bg-light mt-4 p-1" style="width: 830px; height: 218px;">
              <div class="card-body">
                <h5 class="card-title">Price development on Daft.ie (x1000€)</h5>
                <div id="price_time"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-6">
                <div class="card rounded bg-light mt-4 p-1" style="width: 400px; height: 360px;">
                  <div class="card-body">
                    <h5 class="card-title">Property types</h5>
                    <div id="proptype"></div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card rounded bg-light mt-4 p-1" style="width: 400px; height: 360px;">
                  <div class="card-body">
                    <h5 class="card-title">Number of bedrooms</h5>
                    <div id="bedrooms"></div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- This JS creates the plotly plots. The data is passed on by python as a json. 
     ALl except the variable 'figures' is a function which is called in the end. 
     This function can be called again if the buttons are changed, see below -->

<script>

  var figures = {{ figuresJSON | safe}};

  function plots(figures) {

    //Choropleth map 
    cmap = document.getElementById('cmap');

    var data = [{
      type: "choroplethmapbox",
      locations: figures[0].locations,
      z: figures[0].z,
      geojson: figures[0].geojson,
      featureidkey: "properties.EDNAME",
      customdata: figures[0].price,
      coloraxis: "coloraxis",
      marker: { opacity: 0.6 },
      text: figures[0].price,
      hoverinfo: "text+location"
    }];

    var layout = {
      mapbox: {
        style: "carto-positron",
        center: { lon: -6.3, lat: 53.324 },
        zoom: 9.5,
        layers: { opacity: 0.6 }
      },
      width: 520, height: 500,
      coloraxis: { showscale: false, colorscale: "YIOrRd" },
      margin: { l: 0, r: 0, b: 0, t: 0 }
    };

    var config = {
      mapboxAccessToken:
        "pk.eyJ1IjoibXdpbGtlbnMiLCJhIjoiY2s3ajRtbzN3MDBtMTNrcnZsMWNraHpmZCJ9.L-XPpfyIRcDx_gaaRMjHLg"
    };

    Plotly.newPlot(cmap, data, layout, config);

    //Expensive and cheap neighbourhoods plots

    exp_plot   = document.getElementById('exp_plot');
    cheap_plot = document.getElementById('cheap_plot');

    var layout = {
      paper_bgcolor: 'rgba(0,0,0,0)',
      plot_bgcolor: 'rgba(0,0,0,0)',
      width: 290, height: 200,
      margin: { l: 100, r: 0, b: 25, t: 5 },
      xaxis: { showgrid: false, zeroline: false, },
      font: {size: 10}
    };
    
    var data = [{
      type: 'bar',
      x: figures[1].x,
      y: figures[1].y,
      orientation: 'h',
      marker: {
        color: 'rgb(255,0,0)',
        opacity: 0.6
      }
    }];

    Plotly.newPlot(exp_plot, data, layout,  { displayModeBar: false });  

    var data = [{
      type: 'bar',
      x: figures[2].x,
      y: figures[2].y,
      orientation: 'h',
      marker: { opacity: 0.6 }
    }];

    Plotly.newPlot(cheap_plot, data, layout,{ displayModeBar: false });

    //Price over time plot
    price_time = document.getElementById('price_time');

    var data = [{
      x: figures[3].x,
      y: figures[3].y,
      type: 'scatter'
    }];

    var layout = {
      paper_bgcolor: 'rgba(0,0,0,0)',
      plot_bgcolor: 'rgba(0,0,0,0)',
      width: 800, height: 150,
      margin: { l: 25, r: 25, b: 25, t: 0 },
      font: { size: 10 }
    };

    Plotly.newPlot(price_time, data, layout, { displayModeBar: false });

    var layout = {    
      paper_bgcolor: 'rgba(0,0,0,0)',
      plot_bgcolor: 'rgba(0,0,0,0)',
      margin: { l: 0, r: 100, b: 0, t: 5 },
      width: 375, height: 280,
      font: { size: 10 },
      yaxis: {type: 'log', autorange: true, zeroline: false, showgrid: false}
    }

    var data = [{
      type: 'violin',
      x: figures[4].x,
      y: figures[4].y,
      transforms: [{
        type: 'groupby',
        groups: figures[4].x,
        styles: [
          { target: 'detached', value: { line: { color: 'blue' } } },
          { target: 'semi-detached', value: { line: { color: 'orange' } } },
          { target: 'terraced', value: { line: { color: 'green' } } },
          { target: 'apartment', value: { line: { color: 'red' } } }
        ]
      }]
    }]

    proptype = document.getElementById('proptype');
    Plotly.newPlot(proptype, data, layout);
    
    var data = [{
      type: 'violin',
      x: figures[5].x,
      y: figures[5].y,
      transforms: [{
        type: 'groupby',
        groups: figures[5].x,
        styles: [
          { target: '1', value: { line: { color: 'blue' } } },
          { target: '2', value: { line: { color: 'orange' } } },
          { target: '3', value: { line: { color: 'green' } } },
          { target: '4+', value: { line: { color: 'red' } } }
        ]
      }]
    }]
    
    bedrooms = document.getElementById('bedrooms');
    Plotly.newPlot(bedrooms, data, layout);

  }


  plots(figures)
  
  // Here two variables are created for the initial ad that is displayed on the page
  // That ad is the top listed ad on daft.ie for Dublin city.
  var data = {{ initial_ad_data | safe}};
  // This variable is to create the amenities plot
  var amenities_data = {{ amenities_data | safe}};
  
  document.getElementById("property_title").innerHTML = data[0];
  document.getElementById("est_value").innerHTML = data[1] + "*";
  document.getElementById("image_of_ad").innerHTML = `<img src="${data[2]}" height="250" >`;
  document.getElementById("ad_price").innerHTML = data[3];  

  //Function for creating the amenities plot  
  function plot_amenities(amenities_data) {  

    amenity_plot = document.getElementById('amenity_plot');

    var layout = {
      paper_bgcolor: 'rgba(0,0,0,0)',
      plot_bgcolor: 'rgba(0,0,0,0)',
      width: 350, height: 250,
      margin: { l: 100, r: 0, b: 25, t: 5 },
      xaxis: { showgrid: false, zeroline: false, },
      font: { size: 10 }
    };

    var data = [{
      type: 'bar',
      x: amenities_data.y,
      y: amenities_data.x,
      orientation: 'h',
      marker: {
        color: 'rgb(255,0,0)',
        opacity: 0.6
      }
    }];

    Plotly.newPlot(amenity_plot, data, layout, { displayModeBar: false });  

    }

  plot_amenities(amenities_data)

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- This part communicates with python through flask
     It makes sure the controls change the data. -->

<script>

    // based on: https://bootstrapious.com/p/bootstrap-sidebar
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    // THis ensures the data is updated when the plot controls are changed
    $('.filter').change(function() {

        $.getJSON({
        url: "/change_selection",
        data: { 'bedrooms': $("input[name='bedrooms']:checked").val(),
                'proptype': $("input[name='proptype']:checked").val(),
                'Q'       : $('#Q').val()},
        success: function(data){

            plots(data);

        }
        });

    });
    
    // This scrapes the ad pasted in the box and returns the data
    $('.change_ad_url').change(function () {

      $.getJSON({
        url: "/change_ad_url",      
        data: {'url': $("input[name='url']").val()},
        success: function (data) {

          document.getElementById("property_title").innerHTML = data[0][0];
          document.getElementById("est_value").innerHTML = data[0][1] + "*";
          document.getElementById("image_of_ad").innerHTML = `<img src="${data[0][2]}" height="250" >`;
          document.getElementById("ad_price").innerHTML = data[0][3];
   
          plot_amenities(data[1])       

        }
      });

    });

  

</script>

</body>
</html>